[submodule "themes/hugo-PaperMod"]
	path = themes/hugo-PaperMod
	url = https://github.com/5h4rrk/hugo-PaperMod.git
[submodule "themes/hugo-PaperMod-Catpuccin"]
	path = themes/hugo-PaperMod-Catpuccin
	url = https://github.com/shark-asmx/hugo-PaperMod.git
[submodule "themes/hugo-theme-re-terminal"]
	path = themes/hugo-theme-re-terminal
	url = https://github.com/5h4rrk/hugo-theme-re-terminal
[submodule "themes/hugo.386"]
	path = themes/hugo.386
	url = https://github.com/shark-asmx/hugo.386.git
